* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(40, 226, 255);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    height: 550px;
    width: 380px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

#card img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    object-fit: cover;
}

#card h1 {
    font-size: 34px;
}

#card p {
    font-size: 14px;
    color: #555;
    font-weight: 600;
}

#card h5 {
    font-size: 28px;
    font-weight: 700;
    color: red;
}

#card button {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: rgb(40, 226, 255);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}